main {
    font-size: 30px;
    border-radius: 30px;
    height: 810px;
    overflow: hidden;
    overflow: auto;


}


.block {
    background: #e3e1ee;

}

.block1,
.block2,
.block3,
.block4,
.block5,
.block6,
.block7,
.block8,
.block9,
.block10,
.block11 {
    background: #b9a578d2;
    max-width: 365px;
    min-height: 265px;
    padding: 30px;
    margin: 10px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 30px;
    box-shadow: 0px -1px 10px 2px #223c5033 inset;
}