body {
    font-size: 40px;
}

/* ======================================== */

.block {
    /* width: 400px; */
    /* height: 100px; */
    background: #daab8a;

    max-width: 1000px;
    min-width: 800px;

    min-height: 100px;
    max-height: 1000px;
}

.inline {
    width: 400px;
    height: 100px;

    max-width: 1000px;
    min-width: 800px;

    min-height: 500px;
    max-height: 1000px;
}

.img {
    width: 1000px;
}